:root {
  --corewire-dark: #373a3b;
  --corewire-light: #efeeee;
  --corewire-orange: #f9b233;
  --corewire-blue: #1d71b8;
  --corewire-blue-light-60: #98c7ee;

  --md-primary-fg-color: var(--corewire-dark);
  --md-default-bg-color: var(--corewire-light);
  --md-accent-fg-color: var(--corewire-blue);
}

.md-footer {
  background-color: var(--md-primary-fg-color);
}

.md-header__button.md-logo {
    width: 20%;
    height: 100%;
}

.md-header__button.md-logo img {
    width: 100%;
    height: 100%;
}

.md-typeset a {
  color: var(--corewire-blue)
}

.md-typeset a:hover {
  color: var(--corewire-blue-light-60)
}

.md-typeset code {
    padding: 2px 4px;
    color: #1f1f1f;
    background-color: #afafaf;
    border-radius: 4px;
}